crime-assessment-service/.gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
app.env
.env
.java-version
.idea/
.terraform/
coverage/
venv/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
*.java-version
pgdata/